@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}
